html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(0, 0%, 95%);
}

.container {
  padding: 15% 15%;
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
}

.card {
  max-height: 500px;
  min-height: 300px;
  padding: 15% 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 5px;
}

.container span {
  width: 100%;
}

.card h2 {
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: 'Big Shoulders Display', cursive;
}

.card p {
  line-height: 25px;
  color: white;
  font-size: 15px;
}

.card a {
  margin-top: 30px;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 40px;
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
  font-size: 15px;
}

.container .card a:hover {
  color: white;
  background-color: inherit;
}

.sedans {
  background-color: rgb(229,122,47);
}

.sedans a {
  color: rgb(229,122,47)
}

.suvs {
  background-color: rgb(0,94,102);
}

.suvs a {
  color: rgb(0,94,102);
}

.luxury {
  background-color: rgb(0, 56, 55);
}

.luxury a {
  color:rgb(0, 56, 55);
}


@media only screen and (min-width: 700px) {
  .container {
    flex-wrap: nowrap;
    padding: 10%;
  }

  .container .card {
    padding: 40px 30px;
  }
}